<div class="shadow-xl card w-96 bg-base-100">
  <figure><img src="data:image/png;base64,{{img}}" alt="{{img}}" /></figure>
  <div class="card-body">
    <h5 class="font-bold text-white">{{user.username}}</h5>
    <h2 class="text-white card-title">
      {{title}}
      <div class="badge badge-secondary">{{ formatDate created_at }}</div>
    </h2>
    <p class="text-white">{{content}}</p>

    <a class="font-semibold btn btn-primary" href="/dashboard/edit/{{id}}" class="dashboard-edit">Edit</a>
  </div>
</div>