<div class="group mt-0 bg-slate-300 hover:border-white hover:border-4 transition-colors duration-200 rounded-xl px-3 w-11/12 md:w-11/12 xl:w-12/12 mx-auto drop-shadow-lg">

  <div class="flex p-3">
      {{#if img}}
        <img class="block w-24 rounded-xl"
          src="https://image.tmdb.org/t/p/original/{{img}}"
          alt="img_content"/>
      <div class=" w-11/12 h-11/12 ml-3 float-right">
      <h5 class="font-bold">{{user.username}}</h5>
      <h4 class="font-extrabold"><a href="/post/{{id}}" class="dashboard-title">{{title}}</a></h4>
      {{/if}}
      <p>{{content}}</p>

      <div class="bg-slate-100 text-center w-10 rounded-lg ml-auto mt-16">
      <a class="font-semibold" href="/dashboard/edit/{{id}}" class="dashboard-edit">Edit</a>
      </div>
    </div>
  </div>
</div>





