<div class="grid lg:flex">
  <div
    class="flex-none overflow-hidden text-center bg-cover rounded-t h-96 lg:h-auto lg:w-48 lg:rounded-t-none lg:rounded-l"
    style="background-image: url('https://image.tmdb.org/t/p/original{{poster}}')" title="{{title}} poster">
  </div>
  <div
    class="flex flex-col justify-between p-4 leading-normal bg-white border-b border-l border-r border-gray-400 rounded-b lg:border-l-0 lg:border-t lg:border-gray-400 lg:rounded-b-none lg:rounded-r">
    <div class="mb-8">
      <div class="mb-2 text-2xl font-bold text-gray-900">{{title}}</div>
      <p class="text-base text-gray-700">{{summary}}.</p>
    </div>
    <div class="flex items-center justify-start mb-3">
      <p class='text-base font-bold text-gray-700'>Translations</p>
      {{#each spoken_languages as |language|}}
      <img class="ml-4" src="https://flagcdn.com/16x12/{{language.iso_639_1}}.png" />
      {{/each}}
    </div>
    <div class="flex items-center">
      {{#each genres as |genre|}}
      <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">
        {{name}}
      </span>
      {{/each}}
    </div>
  </div>
</div>