<div class="group mt-3 bg-slate-300 hover:border-white hover:border-4 transition-colors duration-200 rounded-xl px-6 py-2 md:w-11/12 mx-auto w-5/6 drop-shadow-lg">

    <div>
    u/{{user.username}}
    <h3><a href="/post/{{id}}" class="post-header">{{title}}</a></h3>
  </div>

  <div>
    {{#if img}}


       <img src="data:image/png;base64,{{img}}" alt="img_content" />

    {{/if}}
    <p class="text-center text-lg font-semibold">{{content}}</p>
  </div>

</div>


























{{!-- <<<<<<< HEAD
=======
<div
  class="group mt-3 bg-slate-300 hover:border-white hover:border-4 transition-colors duration-200 rounded-xl px-6 py-2 md:w-11/12 mx-auto w-5/6 drop-shadow-lg"
>
>>>>>>> 5729d422a7e33bb2c283e4268ceb106d03a3d5d7

  <div>
    u/{{user.username}}
    <h3><a href="/post/{{id}}" class="post-header">{{title}}</a></h3>
  </div>

  <div>
    {{#if img}}

      <img src="data:image/png;base64,{{img}}" alt="img_content" />

    {{/if}}
  </div>
  <div>
    <p class="text-center text-lg font-semibold">{{content}}</p>
  </div>
</div> --}}