<div class="forum-post card w-96 shadow-xl p-20 bg-red-50 hover:bg-indigo-500">
  <div>
    u/{{user.username}}
    <h3><a href="/post/{{id}}" class="post-header">{{title}}</a></h3>
  </div>

  <div>
    {{#if img}}
      <img
        src="https://image.tmdb.org/t/p/original/{{img}}"
        alt="img_content"
      />
    {{/if}}
    <p>{{content}}</p>
  </div>

</div>