<div class="w-full max-w-sm h-80 lg:h-40 lg:max-w-full lg:flex">
  <div
    class="flex-none h-full overflow-hidden text-center bg-cover rounded-t lg:h-auto lg:w-48 lg:rounded-t-none lg:rounded-l"
    style="background-image: url('data:image/png;base64,{{img}}')" title="{{title}} poster">
  </div>
  <div
    class="flex flex-col justify-between p-2 leading-normal bg-white border-b border-l border-r border-gray-400 rounded-b lg:border-l-0 lg:border-t lg:border-gray-400 lg:rounded-b-none lg:rounded-r">
    <div class="flex items-center justify-between text-xl font-bold text-gray-900">
      {{title}}&nbsp;
      <div class="badge badge-secondary">
        {{ formatDate created_at }}
      </div>
    </div>
    <p class="text-base font-bold text-gray-700 font-italic">{{user.username}}</p>
    <p class="text-sm text-gray-700">{{content}}</p>
  </div>
</div>