<section>
  <div class="post-container">
    <div>
    <h7><a href="/post/{{id}}" class="post-header">u/{{username}}</a></h7>
   <h1>{{post.title}}</h1>
    </div>
    <div>
      {{#if post.img}}
        <img
          src="https://image.tmdb.org/t/p/original/{{post.img}}"
          alt="img_content"
        />
      {{/if}}
      <p>{{post.content}}</p>

    </div>
    </div>
    
    <div> Discussions </div>
    
        {{#each post.comments as |comment|}}

        <div class="Comment-container">

        {{> comments comment}}

        </div>

        {{/each}}

  
</section>