<section>
  <div class="post-container">
    <div>
    <h7><a href="/post/{{id}}" class="post-header">u/{{username}}</a></h7>
   <h1>{{post.title}}</h1>
    </div>
    <div>
      {{#if post.img}}

        <img src="data:image/png;base64,{{post.img}}" alt="img_content" />
        
      {{/if}}
      <p>{{post.content}}</p>
    </div>
    </div>
    
    <div> 
      <h1>Discussions</h1> 
    </div>
    
        {{#each post.comments as |comment|}}
        <div>
          {{> comments comment}}
        </div>
        {{/each}}

  {{#if loggedIn}}
<div>
        <form id="comment-form">
        <p>Leave comment: </p>
        <textarea name="comment-body" id="comment" cols="50" rows="6"></textarea>
        <div>
       <button class="btn" id="comment-btn" type="submit">Submit</button>
       </div>
    </form>
</div>
{{/if}}

</section>

<script src="/js/comment.js"></script>